<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ApartmentHunt</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="twoColFixLtHdr">

<div id="container">
    <div id="header">
    	<h1>ApartmentHunt</h1>
    <!-- end #header --></div>
    <div id="mainContentNoSideBar">
		<h3>Apartments in {{ site.site_name }}</h3>
{% if num_apartments > 0 %}
      <p>Collected data about {{ num_apartments }} new apartment(s) in {{ site.site_name }}.</p>
{% endif %}
{% if site.apartment_set.all %}
<table border="0" cellspacing="10" cellpadding="0">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Bedrooms</th>
            <th scope="col">Bathrooms</th>
            <th scope="col">Street address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Dogs?</th>
            <th scope="col">Cats?</th>
            <th scope="col">Listing</th>
          </tr>
	{% for apartment in site.apartment_set.all %}
          <tr>
            <th scope="row">{{ apartment.id }}</th>
            <td>{{ apartment.price }}</td>
            <td>{{ apartment.num_bedrooms }}</td>
            <td>{{ apartment.num_bathrooms }}</td>
            <td>{{ apartment.street_address }}</td>
            <td>{{ apartment.city }}</td>
            <td>{{ apartment.state }}</td>
		{% if apartment.dogs_allowed %}
            <td>Yes</td>
		{% else %}
            <td>No</td>
		{% endif %}
		{% if apartment.cats_allowed %}
            <td>Yes</td>
		{% else %}
            <td>No</td>
		{% endif %}
            <td><a href="http://{{ site.site_subdomain }}.craigslist.org/apa/{{ apartment.listing_number }}.html">Listing</a></td>
          </tr>
	{% endfor %}
      </table>
{% else %}
        <p>No apartments found in {{ site.site_name }}.</p>
{% endif %}
<!-- end #mainContent --></div>
    <div id="footer">
	    <p>&copy; Anda Bereczky 2011</p>
    <!-- end #footer --></div>
<!-- end #container --></div>

</body>

</html>
